.clearfix :after {
    content: "";
    display: table;
    clear: both;
  
}

.scrollBar ::-webkit-scrollbar-track-piece {
    background: #a0a5aa;
  }

  .scrollBar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollBar::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }

html body div::-webkit-scrollbar {
     /*滚动条整体样式*/
     width: 4px;
     /*高宽分别对应横竖滚动条的尺寸*/
     height: 4px;

   }
html body div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .4);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 7px;
}

html body div::-webkit-scrollbar-track {
  background-color: transparent;
}
